{% extends 'base.html.twig' %}

{% block title %}Configurator index{% endblock %}

{% block body %}
    <h1>Configurator index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TotalPrice</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for configurator in configurators %}
            <tr>
                <td>{{ configurator.id }}</td>
                <td>{{ configurator.totalPrice }}</td>
                <td>
                    <a href="{{ path('app_configurator_show', {'id': configurator.id}) }}">show</a>
                    <a href="{{ path('app_configurator_edit', {'id': configurator.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_configurator_new') }}">Create new</a>
{% endblock %}
